services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=portoes_user
      - POSTGRES_PASSWORD=portoes_password
      - POSTGRES_DB=portoes_db
    ports:
      - "5432:5432"

  backend:
    build: .
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://portoes_user:portoes_password@db:5432/portoes_db
    depends_on:
      - db

volumes:
  postgres_data:
