[tool.black]
line-length = 88
target-version = ['py311']
exclude = '''
/(
    \.git
  | \.venv
  | \.mypy_cache
  | __pycache__
)/
'''

[tool.ruff]
line-length = 88
target-version = "py311"

[tool.ruff.lint]
select = ["E", "F", "I", "B"]

ignore = ["B008", "F821"]

[tool.ruff.lint.isort]
known-first-party = ["app"]